<div class="container">

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
  
    <div class="progreso-container">
      <div class="progreso-box" *ngFor="let progreso of progresos; let i = index">
        <h2>{{ progreso.title }}</h2>
        <form (ngSubmit)="onSubmit(i)">
          <div class="input-group">
            <label for="start-{{i}}">Start Date:</label>
            <input type="date" id="start-{{i}}" [(ngModel)]="progreso.start" name="start" required>
          </div>
          <div class="input-group">
            <label for="end-{{i}}">End Date:</label>
            <input type="date" id="end-{{i}}" [(ngModel)]="progreso.end" name="end" required>
          </div>
          <button type="submit">Calculate</button>
        </form>
      </div>
    </div>
    
  <div class="results-list">
  <h2>Results</h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Alumno</th>
          <th>Progreso 1</th>
          <th>Progreso 2</th>
          <th>Progreso 3</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results">
          <td>{{ result.nombre }}</td>
          <td>{{ result.progreso1_grade | number:'1.2-2' }}</td>
          <td>{{ result.progreso2_grade | number:'1.2-2' }}</td>
          <td>{{ result.progreso3_grade | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  
<div class="notas-list">
  <h2>Notas</h2>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Alumno</th>
          <th>Nota</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nota of notas">
          <td>{{ nota.alumno_nombre }}</td>
          <td>{{ nota.nota }}</td>
          <td>{{ nota.fecha | date:'shortDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>
  