<div class="container">
    <div class="progreso-container">
      <div class="progreso-box" *ngFor="let progreso of progresos; let i = index">
        <h2>{{ progreso.title }}</h2>
        <form (ngSubmit)="onSubmit(i)">
          <div class="input-group">
            <label for="start-{{i}}">Start Date:</label>
            <input type="date" id="start-{{i}}" [(ngModel)]="progreso.start" name="start" required>
          </div>
          <div class="input-group">
            <label for="end-{{i}}">End Date:</label>
            <input type="date" id="end-{{i}}" [(ngModel)]="progreso.end" name="end" required>
          </div>
          <button type="submit">Calculate</button>
        </form>
      </div>
    </div>
    
    <div class="results-list">
      <h2>Results</h2>
      <div class="list-container">
        <ul>
          <li *ngFor="let result of results | slice:0:10">
            {{ result.nombre }}: Progreso 1: {{ result.progreso1_grade | number:'1.0-2' }}, Progreso 2: {{ result.progreso2_grade | number:'1.0-2' }}, Progreso 3: {{ result.progreso3_grade | number:'1.0-2' }}
          </li>
        </ul>
      </div>
    </div>
  
    <div class="notas-list">
      <h2>Notas</h2>
      <div class="list-container">
        <ul>
          <li *ngFor="let nota of notas | slice:0:10">
              Alumno: {{ nota.alumno_nombre }}, Nota: {{ nota.nota }}, Fecha: {{ nota.fecha | date }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  